            body {
                font-size: {text:Font Size Base};
                color: {color:Text Color};
                background-color: {color:Body Background Color};
            }
            a {
                color: {color:Link Color};
            }
            a:hover,
            a:focus {
                color: {color:Link Hover Color};
                {block:IfLinkHoverUnderline}
                text-decoration: underline;
                {/block:IfLinkHoverUnderline}
                {block:IfNotLinkHoverUnderline}
                text-decoration: none;
                {/block:IfNotLinkHoverUnderline}
            }
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
                font-weight: {text:Heading Font Weight};
                line-height: {text:Heading Line Height};
                color: {color:Heading Color};
            }
            h1,
            .h1 {
              font-size: {text:Font Size H1};
            }
            h2,
            .h2 {
              font-size: {text:Font Size H2};
            }
            h3,
            .h3 {
              font-size: {text:Font Size H3};
            }
            h4,
            .h4 {
              font-size: {text:Font Size H4};
            }
            h5,
            .h5 {
              font-size: {text:Font Size H5};
            }
            h6,
            .h6 {
              font-size: {text:Font Size H6};
            }
            p {
                margin: 0 0 18px;
            }
            p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
            ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6 {
                margin-top: 1.5em;
            }
            .text-muted {
              color: {color:Gray Light};
            }
            .text-primary {
              color: {color:Primary Color};
            }
            a.text-primary:hover {
              color: {color:Link Hover Color};
            }
            .text-success {
              color: {color:Success Color};
            }
            a.text-success:hover {
              color: {color:Success Color Hover};
            }
            .text-info {
              color: {color:Info Color};
            }
            a.text-info:hover {
              color: {color:Info Color Hover};
            }
            .text-warning {
              color: {color:Warning Color};
            }
            a.text-warning:hover {
              color: {color:Warning Color Hover};
            }
            .text-danger {
              color: {color:Danger Color};
            }
            a.text-danger:hover {
              color: {color:Danger Color Hover};
            }
            .bg-primary {
              background-color: {color:Primary Color};
            }
            a.bg-primary:hover {
              background-color: {color:Primary Color Hover};
            }
            .bg-success {
              background-color: {color:Success Color};
            }
            a.bg-success:hover {
              background-color: {color:Success Color Hover};
            }
            .bg-info {
              background-color: {color:Info Color};
            }
            a.bg-info:hover {
              background-color: {color:Info Color Hover};
            }
            .bg-warning {
              background-color: {color:Warning Color};
            }
            a.bg-warning:hover {
              background-color: {color:Warning Color Hover};
            }
            .bg-danger {
              background-color: {color:Danger Color};
            }
            a.bg-danger:hover {
              background-color: {color:Danger Color Hover};
            }
            abbr[title],
            abbr[data-original-title] {
                border-bottom: 1px dotted {color:Gray Light};
            }
            blockquote {
              border-left: 5px solid {color:Gray Lighter};
              font-size: {text:Font Size Blockquote};
            }
            blockquote footer,
            blockquote small,
            blockquote .small {
                color: {color:Gray Light};
            }
            .blockquote-reverse,
            blockquote.pull-right {
                border-right: 5px solid {color:Gray Lighter};
            }
            .table > thead > tr > th,
            .table > tbody > tr > th,
            .table > tfoot > tr > th,
            .table > thead > tr > td,
            .table > tbody > tr > td,
            .table > tfoot > tr > td {
                border-top: 1px solid {color:Gray Lighter};
            }
            .table > thead > tr > th {
                border-bottom: 2px solid {color:Gray Lighter};
            }
            .table > tbody + tbody {
                border-top: 2px solid {color:Gray Lighter};
            }
            .table .table {
                background-color: {color:Body Background Color};
            }
            .table-bordered {
                border: 1px solid {color:Gray Lighter};
            }
            .table-bordered > thead > tr > th,
            .table-bordered > tbody > tr > th,
            .table-bordered > tfoot > tr > th,
            .table-bordered > thead > tr > td,
            .table-bordered > tbody > tr > td,
            .table-bordered > tfoot > tr > td {
                border: 1px solid {color:Gray Lighter};
            }
            output {
                font-size: {text:Font Size Base};
                color: {color:Text Color};
            }
            .form-control {
                font-size: {text:Font Size Base};
                color: {color:Gray};
                border: 1px solid {color:Gray Lighter};
            }
            .form-control::-moz-placeholder {
                color: {color:Gray Lighter};
            }
            .form-control:-ms-input-placeholder {
                color: {color:Gray Lighter};
            }
            .form-control::-webkit-input-placeholder {
                color: {color:Gray Lighter};
            }
            .form-control[disabled],
            .form-control[readonly],
            fieldset[disabled] .form-control {
                background-color: {color:Gray Lighter};
            }
            header {
                margin-bottom: 72px;
            }
            header {
                margin-top: 32px;
            }
            .logo-wrap img {
                width: 100%;
                height: auto;
            }
            .title-wrap h1 {
                margin: 0;
                text-transform: uppercase;
                letter-spacing: -0.05em;
            }
            .title-wrap .description {
                font-size: 1.2em;
            }
            .center {
                text-align: center;
            }
            footer {
                padding-top: 40px;
                padding-bottom: 30px;
                margin-top: 100px;
                text-align: center;
            }
            .sidebar-item + .sidebar-item {
                margin-top: 0.3em;
            }
            .sidebar h5 {
                margin: 0;
            }
            .tumblr-tags {
                margin-top:10px;
                margin-bottom:-5px;
            }
            .tumblr-tags .glyphicon {
                top: 3px;
                right: 5px;
                position: relative;
            }
            .btn-img {
                max-height: 17px;
            }
            .btn-img, a.sidebar-item .glyphicon {
                float:left;
                left:10px;
                position: relative;
                top: 2px;
            }
            .date {
                color: {color:Gray Light};
                text-transform: uppercase;
                font-size: 0.9em;
            }
            .post img {
                max-width: 100%;
            }
            .link-post {
                margin-bottom: 10px;
                padding-right: 30px;
                padding-left: 30px;
                white-space: normal;
            }
            .thumbnail {
                margin-bottom: 15px;
            }
            .photoset {
                width: 100%;
                height: 100%;   
            }
            .photoset .caption {
                visibility: hidden;
                opacity:0;
                background: rgba(0,0,0,0.4);
                position: absolute;
                right: 20px;
                bottom: 20px;
                left: 20px;
                z-index: 10;
                padding-top: 8%;
                padding-bottom: 8%;
                color: #ffffff;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                transition: visibility 0.2s linear, opacity 0.2s linear;
            }
            .photoset:hover .caption {
                visibility: visible;
                opacity:1;
            }
            .caption {
                margin-top: 1em;
            }
            .caption p {
                margin: 0 0 1em 0;
            }
            .caption blockquote p {
                font-size: 1em;
            }
            .caption blockquote {
                margin: 0 0 1em 0;
                padding: 0 0 0 15px;
            }
            .post + .post {
                margin-top: 48px;
            }
            .fa {
                font-size: 0.8em;
                color: {color:Gray Light}
            }
            .permalink .fa-link {
                position: relative;
                top: -1px;
            }
            .post-footer .fa {
                color: #ccc;
                font-size: 20px;
            }
            .post-footer-top {
                margin-bottom: 0.8em;
            }
            .post-controls {
                display: table-cell;
                vertical-align: middle;
            }
            .post-controls {
                margin-left: 20px;
            }
            .post-controls .controls-wrapper {
                text-align: right;
                margin-right: 20px;
            }            
            .post-controls .control {
                display: inline-block;
                height: 28px;
                position: relative;
                text-align: left;
                vertical-align: middle;
            }
            .post-controls .control.share-control .share {
                color: #ccc;
                display: block;
                height: 21px;
                margin: 2px auto auto;
                text-decoration: none;
                width: 21px;
            }
            .share-menu {
                bottom: 25px;
            }
            .share-menu ul li a, .share-menu ul li a:hover {
                opacity: 1;
            }
            .pop-menu {
                display: none;
                background: #fff;
                border-radius: 3px;
                position: absolute;
                bottom: 35px;
                left: -64px;
                width: 146px;
                box-shadow: 0 1px 5px rgba(0,0,0,.25);
                z-index: 10;
                opacity: 0;
            }
            .pop-menu ul {
                float: none;
                margin: 0!important;
                padding: 0;
                list-style: none;
            }
            .pop-menu ul li.open-in-app {
                display: none;
            }
            .pop-menu ul li:first-child {
                border-top: none;
            }
            .pop-menu ul li {
                border-left: none;
                float: none;
                height: auto;
                position: relative;
                width: auto;
            }
            .pop-menu ul li:hover {
                background: #e6eff7;;
            }
            .pop-menu ul li a {
                background: 0 0;
                color: #444;
                display: block;
                font-size: 14px;
                height: auto;
                margin: 0;
                padding: 6px 10px 6px 10px;
                position: relative;
                text-decoration: none;
                width: auto;
            }
            .pop-menu .share-item.permalink i {
                color: #444;
                float: right;
            }
            .share-menu.active {
                bottom: 35px;
            }
            .pop-menu.show {
                display: block;
                opacity: 1;
                -webkit-transition: all .25s cubic-bezier(0.68,-.55,.265,1.55);
                -o-transition: all .25s cubic-bezier(0.68,-.55,.265,1.55);
                -ms-transition: all .25s cubic-bezier(0.68,-.55,.265,1.55);
                -moz-transition: all .25s cubic-bezier(0.68,-.55,.265,1.55);
                transition: all .25s cubic-bezier(0.68,-.55,.265,1.55);
            }            
            .tags {
                display: inline;
            }
            .tags .tag {
            }
            .tags .tag + .tag:before {
                content:'\b7\a0';
            }
            .pagination {
                display: block;
            }
            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
                width: 100%;
            }
            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            @media (max-width:767px) {
                body {
                    font-size: 13px;
                }
                header {
                    text-align: center;
                    margin-bottom: 42px;
                }
                .logo-wrap {
                    float: none;
                    width: 90px;
                    max-width: 33%;
                    margin: 24px auto 0 auto;
                }
            }
