                    <article itemscope itemtype="http://schema.org/Article" class="post">

				        <!-- opengraph info -->
				        {{ template "_internal/opengraph.html" . }}

                        <div class="date">
                            {{ .Date.Format "Monday, 2 January 2006" }}
                        </div>
                        <div class="text">
                            <h2><a class="permalink" href="{{ .Permalink }}"><span itemprop="name">{{ with .Params.episodenum }}{{.}} - {{end}}{{ .Title }}</span></a></h2>
                            {{ with .Description }}
                            <h4><span itemprop="description">{{ . }}</span></h4>
	                        {{ end }}
	                        {{ if eq .Type "podcast" }}
	                        {{ with .Site.Params.podcastfeed }}<p><a href="{{. | safeURL}}"><i class="fa fa-rss"></i> Subscribe to the podcast.</a></p>{{ end }}
							{{ with .Params.audiosrc }}<p><a href="{{ . }}"><i class="fa fa-cloud-download"></i> Download this episode as an mp3.</a></p>{{ end }}
							<p>
								<i class="fa fa-headphones"></i> Stream this episode now.</br>
		                        <audio controls
									class="audio_controls {{ .Params.class }}"
									{{ with .Params.id }}id="{{ . }}"{{ end }}
									{{ with .Params.preload }}preload="{{ . }}"{{ else }}preload="metadata"{{ end }}
									
									style="{{ with .Params.style }}{{ . | safeCss }}; {{ end }}
										{{ with .Params.audiowidth }}width:{{ . }}; {{ end }}
										{{ with .Params.audioheight }}height:{{ . }};{{ end }}"
									{{ with .Params.title }}data-info-title="{{ . }}"{{ end }}
									{{ with .Params.attr }}data-info-attr="{{ . }}"{{ end }}
									{{ with .Params.attr_link }}data-info-attr-link="{{ . }}"{{ end }}
									{{ with .Params.year }}data-info-year="{{ . }}"{{ end }}
									{{ with .Params.artist }}data-info-artist="{{ . }}"{{ end }}
									{{ with .Params.album_title }}data-info-album-title="{{ . }}"{{ end }}
									{{ with .Params.album_art }}data-info-album-art="{{ . }}"{{ end }}
									{{ with .Params.label }}data-info-label="{{ . }}"{{ end }}
								>
									{{ if .Params.audiosrc }}
									<source {{ with .Params.audiosrc }}src="{{ . }}"{{ end }}
										{{ with .Params.audiotype }}type="audio/{{ . }}"{{ end }}>
									{{ else if .Params.backup_src }}
										<source src="{{ .Params.backup_src }}"
											{{ with .Params.backup_type }}type="audio/{{ . }}"{{ end }}
											{{ with .Params.backup_codec }}codecs="{{ . }}"{{ end }}
									>
									{{ end }}
									Your browser does not support the audio element
								</audio>
							</p>
							<hr>
	                        {{ end }}
							<div itemprop="articleBody">{{ .Content }}</div>
                        </div>
                        <div class="post-footer">
	                        {{ partial "tags.html" . }}
	                        {{ partial "categories.html" . }}
	                        {{ partial "series.html" . }}
	                        {{ if eq ($.Scratch.Get "IsListPage") true }}
	                            {{ partial "disqus_comment_count.html" . }}
                            {{ end }}
	                        {{ partial "social_sharing.html" . }}
                        </div>
                    </article>
