        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-offset-2 logo-wrap">
                        <a href="{{ .Site.BaseUrl }}"><img src="/media/logo_large.png"></a>
                    </div>
                    <div class="col-md-6 col-sm-8 title-wrap">
                        <h1>
                            <a href="/">{{ .Site.Title }}</a>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="description">{{ .Site.Params.description }}</p>
                    </div>
                </div>
            </div>
        </header>
