        <header>
            <div class="container">
                <div class="row off-canvas-wrap">
                
                    <div id="sidebar">
                        <div class="list-group">
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.main }}
                            <a href="{{.URL}}" class="list-group-item{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                    
                    <div class="col-md-8 col-md-offset-2">
                        <div type="button" id="menu-button" class="btn btn-default pull-right" data-toggle="show-menu"><i class="fa fa-bars"></i></div>
                        <div class="row">
                            <div class="col-sm-2 col-md-offset-2 logo-wrap">
                                <a href="{{ .Site.BaseURL }}"><img src="/media/images/logo_large.png"></a>
                            </div>
                            <div class="col-md-6 col-sm-8 title-wrap">
                                <h1>
                                    <a href="/">{{ .Site.Title }}</a>
                                </h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="description">{{ .Site.Params.description }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>


