<input id="sidebar-checkbox" class="sidebar-checkbox" type="checkbox">
<div id="sidebar" class="sidebar">
	<div class="sidebar-item">
		<p>bepsays.com. Om dette og hint.</p>
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item" href="http://bepsays.com/">Heim</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/page/om">Om</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/english">english</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/fotball">fotball</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/foto">foto</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/klokke">klokke</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/kultur">kultur</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/litteratur">litteratur</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/reise">reise</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/spit">spit</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/teknologi">teknologi</a>
			<a class="sidebar-nav-item" href="http://bepsays.com/categories/wikipedia">wikipedia</a>
		</nav>
	<div class="sidebar-item">
	<p>© All rights reserved.</p>
</div>
