                        {{ with .Params.tags }}
	                        	{{ $tags := . }}
								{{ $clean := apply $tags "chomp" "." }}
								{{ $.Scratch.Set "hashtags" (delimit $clean ",") }}
						{{ end }}
                        <div class="social-sharing">
                        	<ul class="list-inline">
	                        	<li class="small text-info">Share On:</li>
								<li>{{ partial "share_link_facebook.html" . }}</li>
								<li>{{ partial "share_link_twitter.html" . }}</li>
								<li>{{ partial "share_link_reddit.html" . }}</li>
                        	</ul>
                        </div>