<div class="row responsive-utilities-test visible-on text-center">
	<div class="col-xs-6 col-sm-3">
		<span class="hidden-xs">Extra small</span>
		<span class="visible-xs-block">✔ X-small</span>
	</div>
	<div class="col-xs-6 col-sm-3">
		<span class="hidden-sm">Small</span>
		<span class="visible-sm-block">✔ Small</span>
	</div>
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-3">
		<span class="hidden-md">Medium</span>
		<span class="visible-md-block">✔ Medium</span>
	</div>
	<div class="col-xs-6 col-sm-3">
		<span class="hidden-lg">Large</span>
		<span class="visible-lg-block">✔ Large</span>
	</div>
</div>